certifi==2022.12.7
chardet==3.0.4
click==6.7
Flask==2.2.5
Flask-Executor==0.9.3
gunicorn==19.9.0
idna==2.6
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
merkletools==1.0.3
pipenv==2022.1.8
pysha3==1.0.2
requests==2.31.0
urllib3==1.26.5
virtualenv==16.7.5
virtualenv-clone==0.5.3
Werkzeug==2.2.3
